$widthSite: 1600px;
$secondWidthSite: 1140px;
$colorSite: #f16d7f;
$grayText: #a4a4a4;
$blackText: #222222;
$whiteColor: #ffffff;
$headerBorderColor: #e6e6e6;
$promo-boxColorText: #fbfbfb;
$subscribe-boxColorText: #222224;
$brandDescriptionColor: #898989;
$megaMenuTextColor: #646464;
$megaMenuBorder: 1px solid #e8e8e8;
$colorStars: #e4af48;

// for single page

$breadcrumbsText: #636363;
$model-boxBorder:#eaeaea;
$colorCaption: #4d4d4d;
$s-p-item-dsc-text: #6f6e6e;
$bc-s-p-item-link: #e9e9e9;
$colorCollection-box: #ef5b70;
$collection-box-text: #2f2f2f;
$collection-description-text: #5e5e5e;