$widthSite: 1600px;
$secondWidthSite: 1140px;
$colorSite: #f16d7f;
$grayText: #a4a4a4;
$blackText: #222222;
$whiteColor: #ffffff;
$headerBorderColor: #e6e6e6;
$promo-boxColorText: #fbfbfb;
$subscribe-boxColorText: #222224;
$brandDescriptionColor: #898989;