.breadcrumbs-box {
  background-color: #f8f3f4;
  padding: 65px 229px;
}

.breadcrumbs {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.breadcrumbs-title {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.breadcrumbs-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}

.color-span.bc-color-span {
  font-weight: 700;
}

.model-box {
  height: 777px;
  background-color: #f7f7f7;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding-top: 11px;
  display: flex;
  justify-content: center;
  position: relative;
}

.slider1,
.slider2 {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 48%;
  background-color: rgba(42, 42, 42, 0.14);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider1 {
  left: 0;
}

.slider2 {
  right: 0;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.content-box {
  position: relative;
  padding-top: 805px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caption {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-bottom: 72px;
  text-align: center;
}

#s-p-product-box.product-box {
  width: 1140px;
}

.s-p-item-description {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
  margin-bottom: 17px;
}

.item-img {
  height: 282px;
  background-color: #e9e9e9;
}

.item-img2 {
  height: 280px;
}

#s-p-item-txt-box.item-txt-box {
  position: relative;
}

#s-p-stars.btn-my-acc__fa-stars {
  display: none;
  position: absolute;
  bottom: 8px;
  right: 12px;
}

#s-p-item.item:hover #s-p-stars.btn-my-acc__fa-stars {
  display: flex;
}

.collection-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1137px;
  height: 730px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  position: absolute;
  top: -47px;
  margin-bottom: 119px;
}

#s-p-add-box.add-box {
  position: static;
  opacity: 1;
  width: 537px;
}

.add-link {
  display: flex;
  padding: 10px 13px 7px 12px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid #ffffff;
  align-items: center;
}

#s-p-add-link.add-link {
  color: #ef5b70;
  height: 55px;
  padding: 16px 206.5px 15px 206.5px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
}

.s-p-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 537px;
  margin-bottom: 28px;
}

.s-p-filter-boxes {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.s-p-filter-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #2f2f2f;
}

.s-p-filter-box {
  padding: 4px 9px 5px 14px;
  width: 120px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filer-box-left-side {
  display: flex;
  align-items: center;
}

.square {
  width: 12px;
  height: 12px;
  background-color: #ef5b70;
  margin-right: 11px;
}

.s-p-box-text {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  margin-right: 60px;
}

.s-p-angle {
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  color: #bcbcbc;
}

.description-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.subtitle-box {
  position: relative;
}

.collection-subtitle {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #f16d7f;
  padding-bottom: 14px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 17px;
}

.border-color-collection {
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
  position: absolute;
  top: 37px;
  left: 42px;
}

.collection-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-bottom: 67px;
}

.collection-text {
  width: 620px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
  text-align: center;
  margin-bottom: 28px;
}

.material-and-designer {
  display: flex;
  gap: 44px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #b9b9b9;
  margin-bottom: 37px;
}

.collection-span {
  color: #2f2f2f;
}

.collection-price {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #ef5b70;
  padding-bottom: 43px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.center2 {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.fa-caret-down {
  font-size: 14px;
  line-height: 32px;
}

.header {
  width: 1600px;
  height: 51px;
  padding-top: 25px;
  padding-bottom: 24px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  position: relative;
}

.logo-img {
  margin-left: 218px;
  margin-right: 13px;
}

.brand-name {
  margin-top: 12px;
  margin-right: 37px;
  font-family: Lato;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

.brand-link {
  color: #222222;
}

.color-span {
  font-weight: 900;
  color: #f16d7f;
}

.btn-browse {
  width: 87px;
  height: 37px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
}
.btn-browse:hover .btn-browse__text {
  color: #f16d7f;
}
.btn-browse__text {
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}
.btn-browse__text:hover {
  color: #f16d7f;
}
.btn-browse__box {
  width: 264px;
  position: absolute;
  display: flex;
  z-index: 2;
  flex-direction: column;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 19px 15px;
}
.btn-browse__title {
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 9px;
}
.btn-browse__link {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4f4f4f;
  margin-left: 5px;
  margin-bottom: 4px;
}
.btn-browse__link:last-of-type {
  margin-bottom: 0;
}
.btn-browse__last-of-type {
  margin-bottom: 23px;
}

summary {
  display: flex;
}

.search {
  width: 330px;
  margin-right: 349px;
}

.search-bar {
  width: 279px;
  height: 38px;
  margin-top: 7px;
  margin-bottom: 6px;
  padding-left: 16px;
  border: 1px solid #e6e6e6;
  outline: none;
  background-color: #ffffff;
  color: #a4a4a4;
}

.btn-search {
  position: absolute;
  width: 38px;
  height: 38px;
  margin-top: 7px;
  margin-bottom: 6px;
  border: 1px solid #e6e6e6;
  background: #ffffff;
  border-radius: 0 3px 3px 0;
  color: #a4a4a4;
  cursor: pointer;
}

.btn-search:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #a4a4a4;
}

.cart-link {
  width: 32px;
  height: 29px;
  margin-top: 15px;
  margin-bottom: 7px;
  margin-right: 26px;
}

.btn-my-acc {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  border: 0.5px solid #ffffff;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.btn-my-acc:hover {
  background-color: #ffffff;
  border: 0.5px solid #f16d7f;
  height: 36px;
}
.btn-my-acc:hover .btn-my-acc__text {
  color: #f16d7f;
}
.btn-my-acc__box {
  padding: 20px 18px;
  border-radius: 5px;
  width: 264px;
  display: flex;
  justify-content: center;
  z-index: 2;
  flex-direction: column;
  position: absolute;
  top: 90px;
  right: 305px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.btn-my-acc__text {
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.btn-my-acc__cart-item {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
}
.btn-my-acc__cart-item:last-of-type {
  padding-top: 16px;
}
.btn-my-acc__cart-img {
  margin-right: 15px;
  padding-bottom: 16px;
}
.btn-my-acc__product-info {
  display: flex;
  flex-direction: column;
}
.btn-my-acc__product-name {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 10px;
}
.btn-my-acc__product-name-link {
  color: #222222;
}
.btn-my-acc__product-name-link:hover {
  color: #f16d7f;
}
.btn-my-acc__fa-stars {
  margin-bottom: 12px;
}
.btn-my-acc__amount-and-price {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
}
.btn-my-acc__x {
  font-size: 10px;
}
.btn-my-acc__delete-drod {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #c0c0c0;
  margin-top: 27px;
  margin-left: 22px;
}
.btn-my-acc__delete-drod:hover {
  color: #f16d7f;
}
.btn-my-acc__total-price {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
  margin-bottom: 32px;
}
.btn-my-acc__total-price-text {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.btn-my-acc__checkout-link {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  text-align: center;
  width: 225px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.btn-my-acc__checkout-link:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.btn-my-acc__cart-link {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  text-align: center;
  width: 225px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.btn-my-acc__cart-link:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.fa-star {
  color: #e4af48;
}

.nav {
  width: 1600px;
  background-color: #ffffff;
}
.nav__list {
  list-style-type: none;
  margin-left: 420px;
  display: flex;
  gap: 40px;
}
.nav__item {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav__item:hover .mega-box {
  display: flex;
}
.nav__link {
  position: relative;
  z-index: 1;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #222222;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav__link:hover {
  color: #f16d7f;
}
.nav__last:hover .mega-box {
  right: 0;
  left: auto;
}
.nav__last:hover .mega-box::before {
  right: 32.5px;
  left: auto;
}

.mega-box {
  z-index: 1;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #e8e8e8;
  display: none;
  gap: 46px;
  position: absolute;
  top: 50px;
  left: -20px;
}
.mega-box::before {
  content: "";
  display: block;
  z-index: 1;
  width: 8px;
  height: 8px;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  background-color: #ffffff;
  position: absolute;
  top: -5px;
  transform: rotate(45deg);
  left: 32.5px;
}
.mega-box__item {
  width: 235px;
}
.mega-box__title {
  font-size: 14px;
  line-height: 32px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  border-bottom: 1px solid #e8e8e8;
}
.mega-box__link {
  display: block;
  margin-top: 13px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
}
.mega-box__link:hover {
  color: #f16d7f;
}
.mega-box__img-box {
  margin-top: 22px;
  position: relative;
  width: 200px;
  height: 118px;
}
.mega-box__img {
  position: absolute;
  right: -35px;
}

.brand-box {
  position: relative;
  width: 1600px;
  height: 665px;
  background-color: #e8e8e8;
  background-image: url("/MaketFix/img/brand_img.png");
  background-position: center center;
  background-size: cover;
}

.rectangle {
  position: absolute;
  top: 275px;
  left: 218px;
  left: 13.625%;
  border-left: 12px solid #f16d7f;
  height: 92px;
}

.brand-title {
  position: absolute;
  top: 260px;
  left: 242px;
  left: 15.125%;
  width: 400px;
  font-size: 60px;
  color: #222222;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
}

.brand-title-text {
  position: absolute;
  top: 328px;
  left: 242px;
  left: 15.125%;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
  font-size: 40px;
}

.hidden {
  display: none;
}

.offers-box {
  width: 1140px;
  padding-top: 98px;
  padding-bottom: 100px;
  display: flex;
  gap: 20px;
}
.offers-box__left {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px;
  width: 560px;
}
.offers-box__right {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px;
  width: 560px;
}
.offers-box__link {
  position: relative;
  z-index: 1;
  transition: all 0.2s;
}
.offers-box__link:hover {
  transform: scale(1.02);
}
.offers-box__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: absolute;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.offers-box__heading {
  font-size: 30px;
}
.offers-box__text1 {
  top: 26px;
  left: -2px;
  width: 175px;
  height: 82px;
}
.offers-box__text2 {
  top: 26px;
  left: -2px;
  width: 225px;
  height: 82px;
}
.offers-box__text3 {
  top: 26px;
  left: -2px;
  width: 162px;
  height: 82px;
}
.offers-box__text4 {
  top: 26px;
  left: -2px;
  width: 180px;
  height: 82px;
}

.product {
  width: 1140px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.product__heading {
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
  text-align: center;
}
.product__text {
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}
.product__browse-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 113px;
  width: 212px;
  height: 48px;
  color: #ffffff;
  background-color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.025em;
  border: 1px solid rgb(242, 99, 118);
  transition: all 0.2s;
}
.product__browse-btn:hover {
  color: #f16d7f;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
}

.product-box {
  padding-bottom: 79px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 263px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.item:hover .item-img {
  filter: brightness(30%);
}
.item:hover .add-box {
  opacity: 1;
}

.item-link {
  display: block;
  width: 263px;
}

.item-img {
  width: 100%;
}

.item-txt-box {
  padding: 20px;
}

.item-description {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 17px;
}

.item-price {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}

.add-link {
  display: flex;
  padding: 10px 13px 7px 12px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid #ffffff;
  align-items: center;
}

.add-box {
  position: absolute;
  top: 98px;
  opacity: 0;
}
.add-box:hover {
  box-shadow: 0 0 10px 0 #ffffff;
}

.add-img {
  margin-right: 8px;
}

.fa-arrow-right-long {
  font-size: 13px;
  line-height: 54px;
}

.promo-box {
  width: 1140px;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 530px;
  background-color: #222224;
  margin-bottom: 97px;
}
.promo-box__img {
  width: 767px;
  height: 529px;
}
.promo-box__text-img {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 146px;
  left: 39px;
  font-size: 32.2px;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.promo-box__big-font {
  font-size: 53.7px;
  line-height: 1.2;
  font-weight: 700;
}
.promo-box__icon1 {
  margin: 48px 33px 124px 36px;
}
.promo-box__icon2 {
  margin: 0 37px 114px 36px;
}
.promo-box__icon3 {
  margin: 0 34px 0 32px;
}
.promo-box__heading {
  margin-bottom: 17px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}
.promo-box__heading1 {
  margin-top: 50px;
}
.promo-box__text {
  margin-bottom: 47px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.footer {
  display: flex;
  flex-direction: column;
}

.subscribe-box {
  background-image: url("/MaketFix/img/photo_subscribe.png");
  background-position: center center;
  background-size: cover;
  height: 438px;
  display: flex;
  flex-direction: row;
}
.subscribe-box__item {
  margin-top: 111px;
  margin-left: 230px;
  width: 35%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-right: 165px;
  row-gap: 5px;
}
.subscribe-box__photoAndDescription {
  display: flex;
  gap: 28px;
}
.subscribe-box__text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
}
.subscribe-box__author {
  display: flex;
  flex-direction: column;
  margin-left: 110px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
}
.subscribe-box__bigFont {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.subscribe {
  width: 48.855%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 148px;
  row-gap: 35px;
}
.subscribe__heading {
  color: #222224;
  font-size: 17px;
  line-height: 24px;
  text-transform: none;
  font-weight: 400;
  text-align: center;
  margin-left: 54px;
}
.subscribe__text {
  font-size: 24px;
  font-weight: 400;
}
.subscribe__email-p {
  display: flex;
}
.subscribe__email {
  background: rgb(229, 229, 229);
  opacity: 0.67;
  font-size: 14px;
  line-height: 46px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 0 8.75rem 0 1.5rem;
}
.subscribe__btn {
  background: #f16d7f;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: 1px solid #f16d7f;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0.5rem 1rem;
  transition: all 0.2s;
}
.subscribe__btn:hover {
  color: #f16d7f;
  background: #eae7e7;
  border: 0.5px solid #f16d7f;
}

.info-box {
  display: flex;
  justify-content: space-between;
  padding-top: 109px;
  padding-bottom: 89px;
}
.info-box__logo-img {
  margin-left: 0;
}

.brand-description {
  display: flex;
  flex-direction: column;
  margin-right: 64px;
}
.brand-description__logo {
  margin-bottom: 41px;
  display: flex;
}
.brand-description__div-text {
  width: 427px;
  height: 180px;
  padding-right: 17px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.brand-description__div-text::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.brand-description__content {
  width: 100%;
  padding-right: 17px;
}
.brand-description__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}
.brand-description__footer-nav {
  display: flex;
}
.brand-description__column-nav {
  margin-top: 14px;
}
.brand-description__column-nav1 {
  margin-right: 129px;
}
.brand-description__column-nav2 {
  margin-right: 80px;
}
.brand-description__heading {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.brand-description__list {
  list-style: none;
}
.brand-description__link {
  color: #898989;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.copyright-box {
  background: #e6e6e6;
  display: flex;
  padding: 24px 14.75% 23px;
}
.copyright-box__text {
  width: 36.444vh;
  margin-right: 56.8%;
  margin-top: 6px;
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.025em;
}
.copyright-box__s-media {
  display: flex;
}
.copyright-box__media {
  display: flex;
  background-color: #ffffff;
  color: #b2b2b2;
  transition: all 0.2s;
}
.copyright-box__media:hover {
  color: #ffffff;
  background: #f16d7f;
}
.copyright-box__media-1 {
  padding: 0.45rem 0.67rem 0.55rem;
  margin-right: 5.906%;
}
.copyright-box__media-2 {
  padding: 0.45rem 0.546rem 0.55rem;
  margin-right: 5.906%;
}
.copyright-box__media-3 {
  padding: 0.45rem 0.608rem 0.55rem;
  margin-right: 5.906%;
}
.copyright-box__media-4 {
  padding: 0.45rem 0.483rem 0.55rem;
  margin-right: 5.906%;
}
.copyright-box__media-5 {
  padding: 0.45rem 0.4rem 0.55rem;
}/*# sourceMappingURL=style.css.map */